TEMP_DIR="$PWD/tmp"

HOST_IP=$(ip route get 1.1.1.1 | grep -oP 'src \K[\d.]+')

OSM_FILE="$PWD/data/data.osm"
COMPRESSED_OSM_PBF_FILE="$TEMP_DIR/compressed.osm.pbf"
MAPPING_FILE="$PWD/data/mapping/mapping.json"

#PostGIS configurations
POSTGIS_USER=martin
POSTGIS_PASSWORD=martin
POSTGIS_DB=martin
POSTGIS_IMAGE="postgis/postgis:latest"
POSTGIS_CONTAINER_NAME=postgis
POSTGIS_PORT=5432
POSTGIS_POST_SCRIPTS_DIR="$PWD/data/post_scripts/"
POSTGIS_URL="postgres://${POSTGIS_USER}:${POSTGIS_PASSWORD}@${HOST_IP}:${POSTGIS_PORT}/${POSTGIS_DB}"


#Martin configurations
MARTIN_IMAGE="ghcr.io/maplibre/martin:latest"
MARTIN_CONTAINER_NAME=martin
MARTIN_PORT=3000
MARTIN_WEBUI=true
MARTIN_FONTS_DIR="$PWD/martin/fonts"
MARTIN_SPRITES_DIR="$PWD/martin/sprites"


#OSRM configurations
OSRM_IMAGE="osrm/osrm-backend:latest"
OSRM_CONTAINER_NAME=osrm
OSRM_PORT=5000
OSRM_DIR="$TEMP_DIR/osrm"
OSRM_PROFILE="/opt/car.lua"
OSRM_ALGO="mld"


#Nominatim configurations
NOMINATIM_IMAGE="mediagis/nominatim:5.2"
NOMINATIM_CONTAINER_NAME=nominatim
NOMINATIM_REVERSE_PORT=8080
NOMINATIM_DB_PORT=5433
NOMINATIM_PASSWORD=qaXkaslkdjfasXX


#Photon configurations
PHOTON_SERVICE_NAME=photon
PHOTON_PORT=8989
PHOTON_JAR_FILE="$PWD/photon/photon.jar"
PHOTON_DATA_DIR="$TEMP_DIR/photon_data"


#Maputnik configurations
MAPUTNIK_IMAGE="ghcr.io/maplibre/maputnik:main"
MAPUTNIK_CONTAINER_NAME=maputnik
MAPUTNIK_PORT=8000
MAPUTNIK_STYLE_FILE="$PWD/maputnik/styles/light.json"

